@import url('https://fonts.cdnfonts.com/css/uber-move-text');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;800&display=swap');
         
*{
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Uber Move Text', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: white;
}

.container{
    margin: 0;
    padding: 0;
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    height: 95px;
    transition: 0.3 ease;
    background-color: white;
}

.header.fade {
    background-color: rgba(51, 51, 51, 0.7);
  }

.header .container-fluid{
    width: 100%;
    display: flex;
    padding: 20px 40px; 
    align-items: center;
    justify-content: space-between;
}

.header .navb-logo{
    display: flex;
    align-items: center;
    gap: 36px;
    justify-content: space-between;
}

.header .navb-logo #menu{
    margin-top: 2px;
    margin-left: 1px;
    width: 18px;
    height: 17px;
    cursor: pointer;
    display: none;
}

.header .navb-items{
    height: fit-content;
    padding: 0;
    margin-right: 17px;
}

.header .main-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.header .item a{
    padding: 12px 16px;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); 
    justify-content: center;
}

.header .item #logIn:hover{
    background-color: rgb(214, 214, 214);
}

.header #logIn{
    background-color: white;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 16px;
    margin-right: 16px;
    gap: 7px;
}

.header #logIn img{
    height: 18px;
    width: 15px;
    margin: 0;
}

.header #signUp{
    color: white;
    background-color: black;
}

.header .item  #signUp:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.custom-option {
    position: relative;
    display: inline-block;
}

.custom-select option {
    padding-right: 25px; /* Provide space for the icon */
}

.custom-option .icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    /* Add styles for the icon (e.g., font-size, color) */
}

.containers {
    position: relative;
    overflow: hidden;
    background: #331616;
    height: 90px; /* Adjust the height as needed */
    width: 45vw; /* Adjust the width as needed */
}

.textboxs {
    margin-top: 3%;
    position: absolute;
    top: 0;
    left: 1;
    background-color: rgb(204, 204, 204);
    transition: transform 1s ease-in-out;
    transform: translateX(-150%);
}

.banner{
    width: 130vw;
    height: 100vh;
}

.banner .container-fluid{
    width: 100%;
    padding: 20px 40px; 
    margin-top: 81px;
}

@font-face {
    font-family: 'CustomFont';
    src: url('fonts/83a314e1b88d789f.woff2') format('woff2'),
         url('fonts/83a314e1b88d789f.woff2') format('woff');
}

#banner-container-fluid h1{
    font-size: 52px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'CustomFont', Arial, sans-serif;
}

.banner .inline{
    margin-top: 39px;
    display: flex;
    width: auto;
    gap: 8px;
    align-items: center;
}

.inline .form-input{
    padding: 8px 16px 8px 0px;
    display: flex;
    gap: 2px;
    font-size: 16px;
    align-items: center;
    background-color: white;
}

#form-input-location{
    width: 540px;
}
#form-input-locations{
    width: 640px;
}

.inline .form-input input{
    padding: 8px 16px 8px 0px;
    width: 100%;
}

#form-input-dropdown{
    width: 250px;
    color: black;
    font-weight: 500;
    position: relative;
    display: inline-block;
}

#form-input-dropdown .select-btn{
    padding: 6px 0px 6px 8px;
    width: 100%;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    display: flex;
    color: black;
    background: white;
}

#form-input-dropdown .sBtn-text{
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 10px;
}

.select-menu .options{
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 20px 10px;
    margin: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

.select-menu .option{
    padding: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 15px;
    border-radius: 10px;
}

.select-menu ul li:hover{
    background-color: #d3d3d3;
}

#small-clock {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#form-input-dropdown img{
    height: 22px;
    width: auto;
    padding: 0;
    margin: 0;
}

.form-input input::placeholder {
    font-weight: 500;
}

.inline .form-input .img-icon{
    width: auto;
    padding: 0;
    margin: 0px 13px;
}

.form-input .img-icon img{
    height: 20px;
    width: 28px;
    padding: 0;
    margin: 0;
}

.banner .link{
    font-size: 14px;
    margin: 22px 0px 0px;
}

.banner .link a{
    color: black;
}

.banner button{
    font-size: 18px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    padding: 15px;
    width: 116px;
    background-color: black;
}

.banner button:hover{
    background-color: rgb(48, 48, 48);
}

.offcanvas-start{
    width: 300px !important;
    padding: 24px;
}

.offcanvas-header{
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.offcanvas-header .btn-close{
    font-weight: 900;
}

.offcanvas-body{
    padding: 0;
}

.offcanvas-body a{
    text-decoration: none;
    color: black;
}

.offcanvas-body nav{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0;
}

.offcanvas-body #signup{
    width: 100%;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding: 14px 16px 15px 16px;
    background: black;
}

.offcanvas-body #login{
    margin-top: 8px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    background-color: #eeeeee;
    padding: 14px 16px 15px 16px;
    color: black;
}

.offcanvas-body #login:hover{
    background-color: rgb(214, 214, 214);
}

.offcanvas-body #signup:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.offcanvas-body .ul-container{
    width: 100%;
    margin-top: 22px;
}

.offcanvas-body ul{
    padding: 0;
}

.offcanvas-body ul li{
    margin-bottom: 11px;
    width: 100%;
}

.offcanvas-body ul li a{
    font-size: 14px;
    font-weight: 500;
    margin: 12px 0px;
    color: #333;
}

.side-foot{
    position: absolute;
    bottom: 23px;
}

.side-foot-up{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.side-foot-up img{
    height: 56px;
    width: auto;
}

.side-foot-up p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
}

.side-foot-dwn{
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 16px 0px 8px;
}

.side-foot-dwn a{
    margin-left: 10px;
    font-weight: 500;
    color: #333;
}

.iphone, .android{
    padding: 10px 14px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #eeeeee;
}

.iphone:hover, .android:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.iphone i{
    font-size: 15px;
    color: black;
    margin-bottom: 2px;
}

.android img{
    height: 14px;
    width: auto;
    margin-left: 1px;
    margin-bottom: 2px;
}

.modal select {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    -webkit-appearance: none; /* Add this vendor prefix */
    -moz-appearance: none; /* Add this vendor prefix */
    appearance: none;
    background-image: url('assets/dropdown.png'); /* Add your arrow icon path here */
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px;
}

.modal select:focus {
    outline: none;
    border-bottom: 3px solid black; 
}
  
.modal .modal-dialog{
    width: 470px;
}

.modal .modal-content{
    padding: 10px;
}

.modal #sched{
    width: 100%;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding: 14px 16px 15px 16px;
    background: black;
    text-decoration: none;
}

.modal #dlvr{
    margin-top: 8px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    background-color: #eeeeee;
    padding: 14px 16px 15px 16px;
    color: black;
    text-decoration: none;
}

.modal #dlvr:hover{
    background-color: rgb(214, 214, 214);
}

.modal #sched:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.modal .modal-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: none;
    padding: 10px 0px 0px 0px;
}

.modal #btn-close{
    font-weight: 900;
    color: black;
    font-size: 24px;
    margin-left: 5px;
    justify-self: flex-start;
    background: none;
}

.modal-body .date, .modal-body .time{
    font-size: 32px;
    color: black;
    font-weight: 900;
}

.modal .modal-footer{
    border-top: none;
}

#image-container{
    padding-top: 80px;
    margin: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#image-container .row{
    width: auto;
    margin: 0;
    /* background-color: aquamarine; */
    background-color: white;
    padding: 0px 44px 0px 28px;
}

#image-container .card{
    border: none;
}

#image-container .card h5{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

#image-container .card-body{
    padding: 10px 0px;
}

#image-container .card-body a{
    color: black;
    margin: 8px 0px 0px;
    font-size: 16px;
    font-weight: 500;
}

.title-map-cities{
    margin-top: 80px;
    padding: 0px 55px 0px 40px;
    width: 100vw;
}

.title-map-cities .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 0;
}

.title-map-cities .title h2{
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.title-map-cities .title a{
    font-size: 16px;
    color: black;
    font-weight: 100;
}

.title-map-cities .cities{
    margin-top: 24px;
}

.title-map-cities .cities a{
    text-decoration: none;
    color: black;
}

.title-map-cities .cities .row{
    width: auto;
    height: 50px;
}

.title-countries{
    margin-top: 80px;
    padding: 0px 55px 0px 40px;
    width: 100vw;
    margin-bottom: 55px;
}

.title-countries .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 0;
}

.title-countries .title h2{
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.title-countries .title a{
    font-size: 16px;
    color: black;
}

.title-countries .countries{
    margin-top: 24px;
}

.title-countries .countries a{
    text-decoration: none;
    color: black;
}

.title-countries .countries .row{
    width: auto;
    height: 50px;
}

hr{
    width: 100vw;
}

footer{
    margin-top: 72px;
    width: 100vw;
    padding: 0px 30px 65px 40px;
}

footer .upper-footer{
    display: flex;
    height: 100%;
}

footer .upper-footer-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    height: 100%;
}

footer .upper-footer-left-first{
    margin: 0px 0px 64px;
    height: auto;
}

footer .upper-footer-left-last{
    margin-top: 90px;
    height: auto;
    width: 100%;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    justify-self: flex-end;
}

footer .upper-footer-left-last #appstore{
    width: 155px;
    height: 40px;
    margin-left: -10px;
}

footer .upper-footer-left-last #playstore{
    width: 134.28px;
    height: 40px;
    margin: 0;
}

footer .upper-footer-right{
    width: 50%;
}

footer .upper-footer-right .row{
    height: 40px;
}

footer .row a{
    text-decoration: none;
    color: black;
    display: flex;
    gap: 5px;
    width: fit-content;
    align-items: center;
}

footer .row a #translate{
    font-size: 15px;
    font-weight: 900;
}

footer .row a:hover{
    text-decoration: underline;
}

footer hr{
    width: 92.5vw;
    color: #d3d3d3;
}

footer .lower-footer{
    padding-top: 20px;
}

.lower-footer-first{
    display: flex;
    align-items: center;
    width: 100%;
}

.lower-footer-first .logos{
    width: 55%;
}

.lower-footer-first .logos a{
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.lower-footer-first .logos i{
    font-size: 18px;
}

.lower-footer-first .privacy{
    width: 45%;
    padding: 0;
}

.lower-footer-first .privacy a{
    font-size: 14px;
}

footer .privacy-row a{
    text-decoration: none;
    color: black;
    display: flex;
    gap: 5px;
    width: fit-content;
    align-items: center;
}

footer .privacy-row a:hover{
    text-decoration: underline;
}

.lower-footer-first .privacy .column{
    position: relative;
    width: fit-content;
    padding: 0;
}

.lower-footer-first .privacy-row{
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.lower-footer-last{
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
    align-items: center;
    column-gap: 50px;
    justify-content: flex-end;
}

.lower-footer-last p{
    font-size: 14px;
}

.lower-footer-last a{
    color: black;
    text-decoration: none;
}

.lower-footer-last a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 1200px) {
    .img-square{
        height: 300px;
        width: 300px;
    }

    .img-content img{
        height: 300px;
        width: auto;
    }
    .inline{
        display: flex;
        flex-wrap: wrap;
    }

    body{
        background-color: red;
    }

}

@media(max-width:992px){
    body{
        width: 100vw;
        overflow-x: hidden;
        background-color: aquamarine;
    }

    header .container-fluid{
        padding: 0 5%;
    }

    .header .navb-logo #menu{
        display: block;
    }
    
    .navb-items{
        display: none;
    }

    .containers{
        width: 60vw;
    }

    .lower-footer-first{
        width: 100%;
    }

    .lower-footer .logos{
        background-color: rgb(184, 222, 135);
        width: 30%;
    }

    .lower-footer .privacy{
        background-color: burlywood;
        width: 70%;
    }

}

@media screen and (max-width: 878px) {

    .home{
        display: flex;
        width: 100vw;
        height: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .home-content{
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .img-content{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .img-square{
        width: 100%;
        margin: 0%;
        display: none;
        border-radius: 10px;
    }
   
    .social-media{
        width: fit-content;
        margin: auto;
    }
    .inline{
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width:767px){
    .inline{
        
        display: flex;
        flex-wrap: wrap;
    
    }
    header .navb-logo h2{
        display: none;
    }

    footer{
        margin-top: 2rem;
        grid-template-columns: 100%;
        grid-row-gap: 2rem;
    }

}

@media(max-width: 450px){
    .inline{
        
        display: flex;
        flex-wrap: wrap;
    
    }
    .modal-dialog{
        width: 82%;
    }

    .modal-body{
        padding-left: 0;
    }

    .modal-body .modal-line{
        height: 3.5rem;
    }
}



